{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
    {% block head %}
        <meta charset="utf-8"/>
        <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'partials/metadata.html.twig' %}

        <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.ico') }}"/>
        <link rel="canonical" href="{{ page.url(true, true) }}"/>

        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://compiled-css/base.css', 98) %}
        {% block stylesheets %}

        {% endblock %}
        {{ assets.css() }}

        {% block javascripts %}
        {% endblock %}
        {{ assets.js() }}

        <meta property="og:title" content="GearBot">
        <meta property="og:image" content="/images/gearbot.png">
        <meta property="og:description" content="Helps you to keep the gears turning smoothly">
        <meta name="theme-color" content="#FECB4D">

    {% endblock head %}
</head>
<body id="top" class="{{ page.header.body_classes }}">
<div class="wrapper">
    {% block header %}
        <div class="header">
            <img src="{{ url('theme://images/gearbot.png') }}" class="gearbot"/>
            <div class="gearContainer">
                <img src="{{ url('theme://images/gear.svg') }}" class="gear"/>
            </div>
            {% block header_navigation %}
                <nav class="main-nav">
                    {% include 'partials/navigation.html.twig' %}
                </nav>
            {% endblock %}

            <h1>{{ page.header.title }}</h1>
        </div>
    {% endblock %}
    {% block body %}
        <section id="body">
            <div>
                {% block content %}{% endblock %}
            </div>
        </section>
    {% endblock %}

    {% block footer %}
        <div class="footer text-center">
        </div>
    {% endblock %}
    {% include 'partials/langswitcher.html.twig' %}
</div>
{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}
<script>
    //nuke the old site
    navigator.serviceWorker.getRegistrations().then(function (registrations) {
        for (let registration of registrations) {
            registration.unregister()
        }
    })
</script>
</body>
</html>
